<div class="mat-typography">
  <h1>Nutrition Facts</h1>
  <h3>{{today}}</h3>
  <mat-divider></mat-divider>
  <h2>
    Calories #
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
  </h2>
  <mat-divider></mat-divider>
</div>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- nutrient Column -->
  <ng-container matColumnDef="nutrient">
    <th mat-header-cell *matHeaderCellDef> Nutrients </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- dv Column -->
  <ng-container matColumnDef="dv">
    <th mat-header-cell *matHeaderCellDef> DV </th>
    <td mat-cell *matCellDef="let element"> {{element.dv}} </td>
  </ng-container>

  <!-- intake Column -->
  <ng-container matColumnDef="intake">
    <th mat-header-cell *matHeaderCellDef> Intake </th>
    <td mat-cell *matCellDef="let element"> {{element.intake}} </td>
  </ng-container>

  <!-- limit Column -->
  <ng-container matColumnDef="limit">
    <th mat-header-cell *matHeaderCellDef> Upper Limit </th>
    <td mat-cell *matCellDef="let element"> {{element.limit}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>