.food-item {
    border: 1px rgb(120, 44, 192) solid;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* Font size affects size of matInput */
    font-size: medium;
}

.serving {
    padding-top: 1%;
}